parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null#'
        - '#expects class-string<Throwable>, string given#'
